.bay-choice-wrapper {
  ul {
    padding: 0;
    font-size: 18px;
    list-style: none;
  }

  .bay-choice-stem {
    font-size: 1rem;
    word-break: normal;
  }

  .bay-choice-option {
    display: flex;
    align-items: center;
    padding: 5px;
    min-height: 60px;
    border-bottom: 1px solid $grey-400;
    &:hover {
      .bay-choice-option-selector {
        @include border();
      }
    }

    .bay-choice-option-selector {
      @extend %choice-radio;
      @include border($grey-400);
      margin: auto 15px;
      background-color: transparent;
    }

    .bay-choice-option-text {
      flex: 1;
      word-break: normal;
      margin: 10px;
      text-align: center;
    }

    &.is-selected {
      background-color: $grey;
      .bay-choice-option-selector {
        @include border($blue);
        background-color: $blue;
      }
    }
    &.is-correct {
      background-color: $grey;
      border-bottom: 1px solid $green;
      .bay-choice-option-selector {
        @include border($green);
        background-color: $green;
      }
      .bay-choice-option-text {
        color: $green;
      }
    }
    &.is-incorrect {
      background-color: $grey;
      border-bottom: 1px solid $red;
      .bay-choice-option-selector {
        @include border($red);
        background-color: $red;
      }
      .bay-choice-option-text {
        color: $red;
      }
    }
  }

  &.is-checkbox {
    .bay-choice-option {
      .bay-choice-option-selector {
        @extend %choice-checkbox;
      }
      &.is-selected {
        .bay-choice-option-selector {
          @extend %checkbox-selected;
        }
      }
      &.is-correct {
        .bay-choice-option-selector {
          @extend %checkbox-selected;
        }
        .bay-choice-option-text {
          color: $green;
        }
      }
      &.is-incorrect {
        .bay-choice-option-selector {
          @extend %checkbox-selected;
        }
        .bay-choice-option-text {
          color: $red;
        }
      }
    }
  }
}
